<%- include('partials/header') -%>
<section class="height-70">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="card card-lg text-center">
          <div class="card-body">
            <i class="icon-add-to-list display-4 opacity-20"></i>
            <h1 class="h5">You haven't adding anything yet</h1>
            <p>
              Start tracking your medications and supplements by hitting the button below.
            </p>
            <a href="#" class="btn btn-lg btn-primary">Add New</a>
          </div>
        </div>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<!--end of section-->
<%- include('partials/footer') -%>